// Color Variables
$grey-light: #ddd;
$grey-dark: #444;
$grey-extradark: #222;
$grey-extralight: #44444421;
$navy: #3c388e;
$white: #fff;
$alert-red: #ff5147;

$white-itemrarity: #444;
$green-itemrarity: #01de0c;
$blue-itemrarity: #0dc2fe;
$setblue-itemrarity: #7878ff;
$yellow-itemrarity: #ffe400;
$orange-itemrarity: #e18000;
$pink-itemrarity: #fd20ef;