button, input[type=submit] {
  border: none;
  background-color: $grey-light;
  color: $grey-dark;
  border-radius: 3px;
  padding: 8px 8px 8px 8px;
  text-transform: lowercase;
  &:focus {outline:0;}
  letter-spacing: 1px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea, select {
  &:focus {outline:0;}
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {

  }
}