
//
// SCREEN BREAKPOINTS
//

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//
// COLORS
//
$grey-light: #ddd;
$grey-dark: #444;
$grey-extra-dark: #222;
$grey-extra-light: #44444421;
$grey-extra-lightest: #f1f1f1;
$navy: #3c388e;
$navy-light: #5c67b3;
$white: #fff;
$alert-red: #ff5147;

$white-item-rarity: #444;
$green-item-rarity: #01de0c;
$blue-item-rarity: #0dc2fe;
$set-blue-item-rarity: #7878ff;
$yellow-item-rarity: #ffe400;
$orange-item-rarity: #e18000;
$pink-item-rarity: #fd20ef;