@import 'variables';
@import 'globals';
@import 'helpers/mixins';
@import '../../scenes/Header/Header';
@import '../../scenes/Footer/Footer';
@import '../../components/Status/Status';
@import '../../scenes/Main/HeroSearch';
@import '../../scenes/Main/MainOrderView';
@import '../../scenes/Admin/AdminList';
@import '../../scenes/Forms/Forms';
@import '../../scenes/Forms/OrderForms/OrderForm';
@import '../../scenes/Item/Items';
@import '../../components/OrderList/OrderList';
@import '../../components/OrderList/OrderListItem';
@import '../../components/OrderList/OrderSection';
@import '../../components/LoadingIndicator/Loading';
@import '../../scenes/Forms/ReactTabs';
@import '../../scenes/Error404/Error';
@import '../../scenes/Main/FilterSection';
@import '../../scenes/Profile/UserProfile';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *, *::before,*::after { box-sizing: border-box; }
  *{ font-family: Roboto, sans-serif; }

  h1, h2, h3, h4, h5, h6, p {
    color: $grey-dark;
  }

  #root {
    min-width: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
