.order-form {
  padding: 50px 0;
  width: 550px;


  .field-container {
    .icon-field-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .number-field {
      width: 80px;
    }
  }

  .related-field-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :first-child {
      margin-right: 15px;
    }
  }

  .price-suggestion-container {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    display: flex;
    flex-direction: column;
  }

  .stat-field-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 250px;
    & > div {
      flex: 0 50%;
    }
    .field-label-container {
      font-size:smaller;
    }
  }

  .plus-icon {
    color: $grey-dark;
    display: flex;
    align-self: center;
    margin-right: 5px;
  }
}