.order-form {
  padding: 50px 0;

  .checkbox-field-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .checkbox {
      width: 20px;
      height: 20px;
    }

    .field-label-container {
      margin: 0;
    }
  }

  .field-container {
    .icon-field-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .number-field {
      width: 80px;
    }
  }

  .related-field-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :first-child {
      margin-right: 15px;
    }
  }

  .stat-field-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 250px;
    & > div {
      flex: 0 50%;
    }
    .field-label-container {
      font-size:smaller;
    }
  }
}