.order-view-list {
  width: 100%;
  max-width: 550px;
  @include box-shadow($grey-extra-light);
  font-size: smaller;

  @include sm {
    width: 550px;
  }

  > li {
    background: $white;
  }
  &>:nth-child(2n) {
    background: $grey-extra-lightest;
  }


}