.order-view-list-item {
  min-height: 160px;
  padding: 20px 10px;
  position: relative;

  h3 {
    margin: 0 10px 0 0;
    width: unset;
    color: $navy;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-size: 1.5em;
    &:hover {
      color: $navy-light;
    }
  }

  .order-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
    color: $grey-dark;
    svg {
      width: 30px;
      height: 30px;
    }
  }

  .order-item-center {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-between;

    .full-width {
      display:flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;

    }

    .user-link-container {

      .user-link {
        color: $navy-light;
        letter-spacing: 1px;

        &:hover {
          color: $alert-red;
        }
      }
    }

    .price-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 15px;

      >:nth-child(n - 2) {
        margin-right: 10px;
      }
    }


    .stat-list ul {
      display: flex;
      flex-flow: column wrap;
      align-content: flex-start;
      align-items: flex-start;
      justify-content: left;
      width: 100%;
      height: 80px;
      margin: 10px 0;

      li {
        text-align: left;
        border-right: solid 2px $navy-light;
        box-sizing: border-box;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        padding-left: 8px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        align-items: center;
        font-size: 14px;

        >:first-child {
          padding-right: 4px;
        }
      }

      >:nth-child(-n + 4) {
        border-left: solid 2px $navy-light;
      }

      @include sm {
        height: 70px;
        >li {
          border-left: none;
        }

        >:nth-child(-n + 4) {
          border-left: solid 2px $navy-light;
        }
      }
    }
  }
  .order-item-right {
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .bottom-button {
      margin-top: 10px;
    }

    button {
      width: 40px;
      height: 35px;
      box-shadow: 0 0 10px 0 $grey-extra-light;
      color: $navy;

      &:active {
        background-color: $navy-light;
        color: $white;
      }
    }

  }

  .cover-order {
    width: 100%;
    height: 100%;
    z-index: 500;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    top: 0;
    left: 0;
  }

  .offer {

    .number-field {
      padding: 11px 11px;
      border: 1px solid $navy;
      letter-spacing: 1px;
      font-size: 14px;
      display: flex;
      align-items: center;
      overflow: hidden;
      color: $grey-dark;
      @include box-shadow($grey-extra-light);
      width: 100px;
      margin-right: 10px;
    }

    .button-section {
      height: 100%;
      padding: 30px 0;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .clipboard {
    input {
      margin-right: 10px;
      width: 60%;
    }
  }
}

.empty-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    color: $grey-light;
  }
}