.hero-search-section {
  background-image: url('../images/Urg2.png');
  background-clip: border-box;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #a6a6a68f;
  background-blend-mode: multiply;
  background-size: cover;
  height: 550px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .flex-center {
    display: flex;
    align-items: center;

    .search-container {
      form {
        width: 400px;
        height: 50px;
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 15px 0px $grey-dark;

        input {
          width: 80%;
          height: 100%;
          padding: 15px 25px 15px 25px;
          border: 0;
        }

        .search-button {
          border-radius: 0;
          height: 100%;
          width: 20%;
        }
      }
    }
  }
}