.hero-search-section {
  background-image: url('../images/Urg2.png');
  background-clip: border-box;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #a6a6a68f;
  background-blend-mode: multiply;
  background-size: cover;
  height: 550px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
  user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */

  .flex-center {
    display: flex;
    align-items: center;

    .search-container {
      position: sticky;
      top: 95px;
      z-index: 10;
      margin: 15px;

      form {
        width: 400px;
        height: 50px;
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 15px 0 $grey-dark;

        input {
          width: 80%;
          height: 100%;
          padding: 15px 25px 15px 25px;
          border: 0;
        }

        .search-button {
          border-radius: 0;
          height: 100%;
          width: 20%;
          background-color: $grey-dark;
          color: $grey-light;

          &:hover {
            background-color: $navy-light;
          }

          &:active {
            box-shadow:0 5px 15px 0 $navy;
            background-color: $navy;
          }
        }

        &:focus-within {
          & ~ .search-dropdown {
            visibility: visible;
          }
        }
      }

      .search-dropdown {
        position: absolute;
        top: 100%;
        background: $white;
        left: 0;
        width: 100%;
        box-shadow:0 5px 15px -5px $grey-extra-light;
        -moz-box-sizing:content-box;
        box-sizing:content-box;
        z-index:1000;
        visibility: hidden;

        li {
          padding: 10px;
          cursor: pointer;
          text-align: left;
          color: $grey-dark;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          font-size: 0.95em;

          &:hover {
            background-color: $grey-light;
            color: $navy;
            box-shadow: 0 0 15px 0 $grey-extra-light;
          }

          &:active {
            box-shadow: none;
          }
        }

        &:focus-within, &:hover {
          visibility: visible;
        }
      }
    }
  }
}