.order-view-section {

  .list-container {


    h2 {
      color: $navy-light;
      letter-spacing: 1px;
      font-weight: 400;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
}