.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 150px 0;

  form {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    min-width: 30%;
    min-height: 400px;

    .selection {
      min-width: 250px;
      height: 40px;
      padding: 0 11px;
    }

    .text-box {
      min-width: 250px;
      height: 40px;
    }

    .textarea {
      min-width: 500px;
      padding: 15px;
      min-height: 80px;
    }

    .text-box, .textarea, .number-field, .selection {
      padding: 11px 11px;
      border: 1px solid $navy;
      letter-spacing: 1px;
      font-size: 14px;
      display: flex;
      align-items: center;
      overflow: hidden;
      color: $grey-dark;
      box-shadow: 0 0 15px 0 $grey-extra-light;
    }

    .field-container {
      padding: 10px 0 10px 0;
    }

    .field-label-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $grey-dark;
      }

      span {
        color: $alert-red;
        font-size: smaller;
        height: 10px;
      }
    }

    button {
      min-width: 50%;
      display: flex;
      align-self: center;
      justify-content: center;
      margin-top: 20px;
    }

    &:first-child {
      margin-top: 20px;
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
}